a {
    font-size: 1.4em;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    color: white;
}

nav {
    background-color: #1E2640;
    
}


.navbar-toggler-icon{
    background-color: white;
    border-radius: 10%;
}