<div class="container">
  <!-- <img src="assets/STOEL1.jpg"> -->
  <!-- <div class="jumbotron">
    <h1 class="display-4">My portfolio about my woodcrafting projects!</h1>
    <p class="lead">
      My name is Sam Dupont and I live in Belgium. I have been working with wood
      since I am 16 years old. here you can find al the projects I have already
      made. Have a look if you like.
    </p>
    <hr class="my-4" />

    <a class="btn btn-primary btn-lg" routerLink="/portfolio">See portfolio</a>
  </div> -->

  <mat-grid-list cols="3" rowHeight="20em">
    <mat-grid-tile><img src="assets/DAMPKAP1.jpg" alt="Dampkap appartement"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/STOEL5.jpg" alt="design stoel"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/VINYL1.jpg" alt="vinyl platenspeler"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/SNIJPLANK1.jpg" alt="snijplank"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/SAMKAST.jpg" alt="dressoir"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/LAMP7.jpg" alt="design lamp"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/KEITHHARRING.jpg" alt="portret frame"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/KASTKAMERSAM7.jpg" alt="nachtkast"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/KASTCEDRIC.jpg" alt="moto kast"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/HOLDER.jpg" alt="holders"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/HEADPHONE.jpg" alt="headphone stand"/></mat-grid-tile>
  </mat-grid-list>
</div>



<div class="cont">
  <div class="footer">
    <i class="fab fa-instagram"></i>
    <h3>Sam Dupont</h3>
    <p>Sam.dupont2001@gmail.com</p>
  </div>
</div>









