<div class="container">
  <div class="chips">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip (click)="onDutch()" *ngIf="laungageSelector != 'NL'">Nederlands</mat-chip>
      <mat-chip (click)="onDutch()" *ngIf="laungageSelector == 'NL'" selected color="warn">Nederlands</mat-chip>
      <mat-chip (click)="onFrench()" *ngIf="laungageSelector != 'FR'">Français</mat-chip>
      <mat-chip (click)="onFrench()" *ngIf="laungageSelector == 'FR'" selected color="warn">Français</mat-chip>
      <mat-chip (click)="onEnglish()" *ngIf="laungageSelector != 'EN'">English</mat-chip>
      <mat-chip (click)="onEnglish()" *ngIf="laungageSelector == 'EN'" selected color="warn">English</mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="laungageSelector == 'EN'">
    <h1>about me 👨‍🎓</h1>
    <p>
      My name is Sam Dupont, student interior design at KASK in Ghent. I try to
      design and make great furniture pieces that will last and I often succeed.
      My goal with this adventure is to be able to make quality handmade
      furniture and grow my skillset.
    </p>
    <p>
      I started working with wood thanks to my dad. The interest in handcraft
      has always run in my family, and has only grown with me watching videos,
      reading and just creating things, experimenting and having fun.
    </p>
    <h1>Eco-policy 🍃🌍</h1>
    <p>
      Wood, a beautiful and natural material, but is it really a good thing to
      be making wooden furniture in a time where our forests are being erased
      like never before? I try to buy my wood responsibly, always looking for
      FSC or PEFC labelled wood or overstocks and second choice wood.
    </p>
    <p>
      I exclusively use eco-friendly products to treat wood. Water-based and
      oil-based varnish create a plastic film on top of the wood; therefore, I
      use natural oils instead. Using natural treatment allows the wood to keep
      its natural aspects and texture. It also ‘feeds’ the wood, preventing it
      from drying out and cracking. After treatment, the wood can degrade
      naturally in nature without polluting like water-based and oil-based
      varnish would do. Natural oils are also easier to repair and reapply later
      down the line.
    </p>
    <p>
      A well-made piece of furniture that can survive the test of life and will
      not be thrown away the next time the owner moves (like today’s society
      often treats furniture) is a very durable solution.
    </p>
    <p>
      With that said, I am always eager to learn new ways to make my work
      eco-friendlier, so if you can help me or have information that you think
      might be of interest to me, feel free to contact me.
    </p>

    <h1>After sales 📦</h1>
    <p>
      After a purchase has been made, we can discuss how to get the piece to
      your location, smaller pieces can either be delivered by me, or picked up.
      Bigger pieces that need to be installed would preferably be installed by
      me personally, so as to ensure quality installation.
    </p>

    <h1>Services 👨‍🔧</h1>
    <li>Re-treating ⚙️</li>
    <p>
      After a few years, the treatment naturally degrades and fades. This is
      very normal and can easily be fixed by reapplying said treatment. If you
      have a piece of furniture - made by me or not - that could use a little
      love, feel free to contact me for an estimate.
    </p>
    <li>Repairs 🔨</li>
    <p>
      Repairing broken furniture is the best way to reduce waste. For me, it is
      always a pleasure and it confronts me with a lot of interesting
      challenges.
    </p>

    <h1>Pricing 💳</h1>
    <p>
      Pricing can be difficult as the furniture we buy today most often comes
      from factories that mass produce and thus make very cheap furniture. I am
      not opposed to that, but it often means it will not last very long. I
      offer well-made furniture created with quality materials. Furniture made
      by a craftsman has both character and a story. If you have a hard time
      understanding my prices, the following links to a few videos of people who
      do similar work could be useful. In a nutshell: Material cost + hour rate
      of about 10 euros/hour
    </p>
    <ul>
      <li>
        <a
          href="/https://www.youtube.com/watch?v=Dt2Hx5X5nN8&t=1118s&ab_channel=GosforthHandyman"
          >GosforthHandyman YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=Uu_qFDanGPY&ab_channel=MakeSomething "
          >MakeSomething YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=z2QQ_ufPRFI&t=209s&ab_channel=WilliamDouglasCo."
          >WilliamDouglasCo YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=BBQkLWLStQU&t=555s&ab_channel=Rag%27n%27BoneBrown "
          >Rag'n'BoneBrown YouTube Channel</a
        >
      </li>
    </ul>

    <h1>Contact</h1>
    <p>For any questions, feel free to email me or send me a DM on Instagram</p>
  </div>

  <div *ngIf="laungageSelector == 'NL'">
    <h1>Wie ben ik? 👨‍🎓</h1>
    <p>
      Mijn naam is Sam Dupont, ik studeer "binnenhuisarchitectuur" aan KASK in
      Gent. Mijn hobby is het ontwerpen en bouwen van mooie, duurzame meubelen.
      Het idee achter mijn kleine bedrijf is om te leren kwaliteitsmeubilair te
      bouwen en om mijn kennis en vaardigheden op dit gebied te verbeteren.
    </p>
    <p>
      Mijn interesse in houtbewerking komt van mijn vader. Handwerk zit diep
      geworteld in mijn familie en mijn interesse groeide door naar korte films
      te kijken, te lezen, objecten te maken, te experimenteren en plezier te
      maken.
    </p>
    <h1>Ecobeleid 🍃🌍</h1>
    <p>
      Hout is een mooie en natuurlijke grondstof maar is het echt verantwoord om
      houten meubelen te maken nu onze wouden worden vernietigd als nooit
      tevoren? Ik probeer steeds verantwoorde aankopen te doen: hout met het
      label FSC of PEFC, overschotten of tweede keuze.
    </p>
    <p>
      Ik behandel het hout uitsluitend met ecologische producten. Dankzij deze
      natuurlijke behandeling behoudt het hout zijn natuurlijke aspecten en
      textuur. Het hout wordt op die manier ook gevoed zodat het niet uitdroogt
      en barst. Na die behandeling kan het hout op natuurlijke wijze ontbinden
      in de natuur zonder enige vervuiling in tegenstelling tot hout dat wordt
      behandeld met vernis op basis van water of olie. Natuurlijke olie is ook
      gemakkelijker te herstellen en een nieuwe laag is zo aangebracht.
    </p>
    <p>
      Een degelijk meubelstuk dat de tand des tijds doorstaat en niet wordt
      weggegooid wanneer de eigenaar verhuist (zoals dat vandaag vaak gebeurt)
      is een bijzonder duurzame oplossing.
    </p>
    <p>
      Dit gezegd zijnde, leer ik graag hoe ik nog ecologischer kan werken. Laat
      het mij dus zeker weten als je ideeën of informatie hebt die mij daarbij
      kunnen helpen.
    </p>

    <h1>Levering 📦</h1>
    <p>
      Na de aankoop van je meubelstuk bespreken we hoe het bij jou geraakt. Ik
      kan kleinere onderdelen leveren of je kan ze komen ophalen. Ik zorg liever
      zelf voor de plaatsing van grote stukken zodat ik de kwaliteit van de
      installatie kan garanderen.
    </p>

    <h1>Diensten 👨‍🔧</h1>
    <li>Nabehandeling:⚙️</li>
    <p>
      De afwerkingslaag kan afslijten na enkele jaren en de kleur kan ook
      vervagen. Dat is een natuurlijk en normaal proces dat gemakkelijk kan
      worden opgelost door een nieuwe laag aan te brengen. Neem gerust contact
      op voor een bestek als je een meubelstuk hebt – al dan niet door mij
      gemaakt – dat een beetje aandacht en zorg kan gebruiken.
    </p>
    <li>Herstelwerken: 🔨</li>
    <p>
      Kapotte meubelstukken herstellen, is de beste manier om afval te
      verminderen. Ik vind het alleszins leuk en het stelt mij voor tal van
      interessante uitdagingen.
    </p>

    <h1>Prijzen 💳</h1>
    <p>
      Mijn meubelstukken zijn niet de goedkoopste, in tegenstelling tot de
      meubelen uit een fabriek die massaal meubelen produceert. Die meubelen
      mogen dan wel heel goedkoop zijn, ze zijn niet gemaakt om lang mee te
      gaan.
    </p>
    <p>
      Ik bied je knap gemaakte meubelen van kwalitatief materiaal. Meubelen die
      een ambachtsman maakt, hebben karakter en een verhaal.
    </p>
    <p>
      De video’s (zie onderstaande links) geven je enig inzicht in de
      prijsvorming. In een notendop: materiaal + uurloon van +- 10 euro/uur
    </p>
    <ul>
      <li>
        <a
          href="/https://www.youtube.com/watch?v=Dt2Hx5X5nN8&t=1118s&ab_channel=GosforthHandyman"
          >GosforthHandyman YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=Uu_qFDanGPY&ab_channel=MakeSomething "
          >MakeSomething YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=z2QQ_ufPRFI&t=209s&ab_channel=WilliamDouglasCo."
          >WilliamDouglasCo YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=BBQkLWLStQU&t=555s&ab_channel=Rag%27n%27BoneBrown "
          >Rag'n'BoneBrown YouTube Channel</a
        >
      </li>
    </ul>

    <h1>Contactgegevens</h1>
    <p>
      Stuur gerust een mail naar dupontwoodworks1@gmail.com of een DM op
      Instagram: Dupontwoodworks als je vragen hebt.
    </p>
  </div>

  <div *ngIf="laungageSelector == 'FR'">
    <h1>Qui suis-je ? 👨‍🎓</h1>
    <p>
      Je m’appelle Sam Dupont, j’étudie « l’aménagement intérieur » au KASK à
      Gand. Mon hobby est de créer et construire de belles pièces de mobilier
      durable. L’idée de départ de ma petite entreprise est d’apprendre à
      construire des meubles de qualité et d’améliorer mes connaissances et
      compétences en la matière.
    </p>
    <p>
      Mon intérêt pour le travail du bois me vient de mon père. Le travail
      manuel est profondément ancré dans ma famille et mon intérêt a grandi en
      regardant de petits films, en lisant, en créant des objets, en
      expérimentant et en m’amusant.
    </p>
    <h1>Gestion écologique 🍃🌍</h1>
    <p>
      Le bois est une matière noble et naturelle, mais est-ce justifié de faire
      des meubles en bois à une époque ou de plus en plus de forêts sont
      sacrifiées à mauvais escient.
    </p>
    <p>
      J’essaie toujours de faire des achats écoresponsables : du bois avec le
      label FSC ou PEFC, des chutes ou des lots deuxième choix.
    </p>
    <p>
      Je traite le bois uniquement avec des produits écologiques. Grace à ce
      traitement naturel celui-ci garde son aspect et sa texture naturels. Le
      bois est ainsi nourri afin de ne pas sécher et se fissurer. Après ce
      traitement, ce matériau peut se décomposer plus naturellement dans la
      nature. Contrairement au bois traité avec des vernis à base d’eau ou
      d’huile, l’huile naturelle simplifie les réparations une nouvelle couche
      réunifie vite le tout.
    </p>
    <p>
      Une pièce de mobilier ainsi conçue résiste à l’épreuve du temps et ne sera
      pas jetée quand son propriétaire déménage (ce qui arrive souvent à l’heure
      actuelle). N’est-ce pas là « une solution durable ».
    </p>

    <p>
      Ceci dit, j’aime apprendre à travailler de façon encore plus écologique.
      Donc, faites-moi part de vos remarques ou idées qui peuvent m’y aider.
    </p>

    <h1>Livraison 📦</h1>
    <p>
      Après l’achat de votre meuble, nous discuterons ensemble de la meilleure
      option de livraison. De plus petites pièces peuvent être enlevées, ou
      éventuellement livrées. Afin de garantir la qualité de montage de plus
      grandes pièces, je préfère m’en occuper moi-même.
    </p>

    <h1>Services 👨‍🔧</h1>
    <li>Traitement : ⚙️</li>
    <p>
      La couche de finition peut, après quelques années, s’user et/ou se
      décolorer. Ceci est un processus normal qui peut être résolu par
      l’application d’une nouvelle couche. N’hésitez surtout pas à prendre
      contact avec moi afin d’établir un devis pour rafraichir ou soigner votre
      meuble.
    </p>
    <li>Travaux de réparation : 🔨</li>
    <p>
      Réparer des meubles est la meilleure façon pour réduire les déchets. En
      tous les cas, j’aime beaucoup être mis face à des défis intéressants à
      relever.
    </p>

    <h1>Prix 💳</h1>
    <p>
      Mon mobilier n’est pas le moins cher, contrairement à des meubles
      fabriqués en masse dans des usines. Ceux-ci peuvent bien être bon marché,
      mais ils ne sont pas durables.
    </p>

    <p>
      Je vous offre des meubles fait avec brio à base de matériaux de qualité.
      Les meubles créés par un artisan ont du caractère et une histoire.
    </p>

    <p>
      Les vidéos ci-dessous (voir liens) vous donnent une petite idée de comment
      sont établi les prix. (En un mot : matériaux + salaire horaire de +/-
      10,00€ de l’heure.
    </p>
    <ul>
      <li>
        <a
          href="/https://www.youtube.com/watch?v=Dt2Hx5X5nN8&t=1118s&ab_channel=GosforthHandyman"
          >GosforthHandyman YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=Uu_qFDanGPY&ab_channel=MakeSomething "
          >MakeSomething YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=z2QQ_ufPRFI&t=209s&ab_channel=WilliamDouglasCo."
          >WilliamDouglasCo YouTube Channel</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=BBQkLWLStQU&t=555s&ab_channel=Rag%27n%27BoneBrown "
          >Rag'n'BoneBrown YouTube Channel</a
        >
      </li>
    </ul>

    <h1>Coordonnées de contact</h1>
    <p>
      N’hésitez pas à m’envoyer un mail à dupontwoodworks1@gmail.com ou un
      message direct sur Instagram : Dupontwoodworks si vous avez des questions.
    </p>
  </div>
</div>
