<body>
  
 
  

<div class="container">

  <h2>My most recent projects</h2>


  <mat-grid-list [cols]="cols" rowHeight="20em"   (window:resize)="onResize($event)">
    <!-- <mat-grid-tile><img src="assets/about/DAMPKAP.jpg" alt="Dampkap appartement" (click)="openDialogProduct('DAMPKAP')"/></mat-grid-tile> -->
    <mat-grid-tile><img src="assets/about/STOEL.jpg" alt="design stoel"(click)="openDialogProduct('STOEL')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/VINYL.jpg" alt="vinyl platenspeler"(click)="openDialogProduct('VINYL')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/SNIJPLANK.jpg" alt="snijplank"(click)="openDialogProduct('SNIJPLANK')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/SAMKAST.jpg" alt="dressoir"(click)="openDialogProduct('SAMKAST')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/LAMP.jpg" alt="design lamp" (click)="openDialogProduct('LAMP')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/KEITHHARRING.jpg" alt="portret frame"(click)="openDialogProduct('KEITHHARRING')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/HEADPHONE.jpg" alt="headphone stand"(click)="openDialogProduct('HEADPHONE')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/IDEMMASK.jpg" alt="Kader idem"(click)="openDialogProduct('IDEMMASK')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/IDEMKISS.jpg" alt="Kader idem"(click)="openDialogProduct('IDEMKISS')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/VARIA.jpg" alt="Kleine varianten"(click)="openDialogProduct('VARIA')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/VINYL-PAPA.jpg" alt="Vinyl deksel "(click)="openDialogProduct('VINYL-PAPA')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/SAMMEUBEL.jpg" alt="Opberg meubel"(click)="openDialogProduct('SAMMEUBEL')"/></mat-grid-tile>
    <!-- <mat-grid-tile><img src="assets/about/KASTKAMERSAM.jpg" alt="Dressing kast"(click)="openDialogProduct('KASTKAMERSAM')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/KASTCEDRIC.jpg" alt="moto kast"(click)="openDialogProduct('KASTC')"/></mat-grid-tile> -->
  </mat-grid-list>
</div>



<div class="cont">
  <div class="footer">
    
    
    <h2 >Sam Dupont</h2>
    <span class="title-left">sam.dupont2001@gmail.com</span>
    <a href="https://www.instagram.com/dupontwoodworks/" target="_blank" class="title-right"><i class="fa fa-instagram" style="font-size:36px"></i></a> 
    <p class="cp">Copyright 2019-2020 by Dupont Ben. All Rights Reserved.</p>
  </div>
  
  
</div>

</body>