.cont {
    // position: fixed; 
    // padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%;
}

img {
    height: 100%;
    width: auto;
    padding: 0.3em;
    margin:1em;
    
}



mat-grid-list{
    margin-bottom: 2em;
    height: 500px;
}

.footer{
    background-color: #1E2640;
    padding:2em;
    position: sticky;
    color: white;
   
}

a {
    color:white;
  
}

.title-left {
    display: inline;
    font-size: 1.3em;
}

.title-right {
    float: right;
    
}

.cp {
    text-align: center;
}




