
<div class="container" class="p-3 mb-2 bg-dark text-white">
    
    <img src="/src/img/logo.png"/>
    <h1 class="display-4">Assortiment</h1>
    <div class="row" style="margin-top:30px">

        
      <div class="container">
        
        <form>
            <div class="form-group" >
              <label for="exampleFormControlInput1" >Naam + voornaam</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" >
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Aantal gerechten van 15 euro</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
           
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Addres </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          

          <div class="form-group">
            <label for="exampleFormControlTextarea1">etc.. </label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
          </div>
        </form>
         
      </div>
    </div>
  </div>