<div class="container" class="p-3 mb-2 bg-dark text-white">


  <h1 class="display-4">Assortiment</h1>
  <div class="row" style="margin-top:30px">


    <div class="container">

      <form [formGroup]="orderForm" (ngSubmit)="sendOrder(orderForm.value)">


        <div class="form-group">
          <label for="email">
            Naam + voornaam
          </label>
          <input class="form-control" id="email" placeholder="Jan@jan.com" formControlName="email">
        </div>



        <div class="form-group">
          <label for="subject">
            Addres
          </label>
          <textarea class="form-control" id="addres" rows="2" placeholder="subject"
            formControlName="subject"></textarea>
        </div>

        <div class="form-group">
          <label for="subject">
            Addres
          </label>
          <textarea class="form-control" id="text" rows="2" placeholder="text"
            formControlName="text"></textarea>
        </div>




        <button type="submit" class="btn btn-primary">Submit</button>
      </form>



    </div>
  </div>
</div>