<div class="container" class="p-3 mb-2 bg-dark text-white">


  <h1 class="display-4">Assortiment</h1>
  <div class="row" style="margin-top:30px">


    <div class="container">

      <form [formGroup]="orderForm" (ngSubmit)="sendOrder(orderForm.value)">


        <div class="form-group">
          <label for="name">
            Naam + voornaam
          </label>
          <input class="form-control" id="name" placeholder="Jan Jansens" formControlName="name">
        </div>



        <div class="form-group">
          <label for="addres">
            Addres
          </label>
          <textarea class="form-control" id="addres" rows="2" placeholder="straat + nummer + postcode "
            formControlName="addres"></textarea>
        </div>




        <button type="submit" class="btn btn-primary">Submit</button>
      </form>



    </div>
  </div>
</div>