


<mat-grid-list [cols]="cols" [rowHeight]="rows" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <div class="card">
      <img src="assets/KASTKAMERSAM5.jpg" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">KleerKast</h3>
        <p class="card-text">{{kleerKastTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('KASTKAMERSAM')">Meer
          foto's</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card">
      <img src="assets/BADKAMER1.jpg" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Badkamer</h3>
        <p class="card-text">{{badKamerTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('BADKAMER')">Meer
          foto's</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card">
      <img src="assets/LAMP1.jpg" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Lamp</h3>
        <p class="card-text">{{lampTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('LAMP')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>

    <div class="card" >
      <img src="assets/NACHTKASTSAM1.jpg" class="card-img-top"  >
      <div class="card-body">
        <h3 class="card-title">Nachtkastje</h3>
        <p class="card-text">{{nachtKastTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('NACHTKASTSAM')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card">
      <img src="assets/STOEL5.jpg" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">Stoel</h3>
        <p class="card-text">{{stoelTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('STOEL')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>

    <div class="card">
      <img src="assets/WAKETIM1.jpg" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">Kast voor Snow/Wake board</h3>
        <p class="card-text">{{wakeTimTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('WAKETIM')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>

    <div class="card">
      <img src="assets/KASTC10.jpeg" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">Motor kast</h3>
        <p class="card-text">{{kastCTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('KASTC')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>

    <div class="card">
      <img src="assets/DRANKREK.jpg" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">Flessen Rek</h3>
        <p class="card-text">{{drankTxt}}</p>
        <a routerLink="/library" routerLinkActive="active" class="btn btn-primary" (click)="update('DRANKREK')">Meer foto's</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>