

<div class="container">

  <h2>My projects</h2>


  <mat-grid-list [cols]="cols" rowHeight="20em"   (window:resize)="onResize($event)">

    <mat-grid-tile><img src="assets/about/custom7-.jpg" alt="Kleine varianten"(click)="openDialogProduct('custom7-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/20171-.jpg" alt="design stoel"(click)="openDialogProduct('20171-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/20181-.jpg" alt="vinyl platenspeler"(click)="openDialogProduct('20181-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/20191-.jpg" alt="snijplank"(click)="openDialogProduct('20191-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/20192-.jpg" alt="dressoir"(click)="openDialogProduct('20192-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/20203-.jpg" alt="design lamp" (click)="openDialogProduct('20203-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/custom4-.jpg" alt="portret frame"(click)="openDialogProduct('custom4-')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/custom6-.jpg" alt="headphone stand"(click)="openDialogProduct('custom6-')"/></mat-grid-tile>
    <!-- <mat-grid-tile><img src="assets/about/IDEMMASK.jpg" alt="Kader idem"(click)="openDialogProduct('IDEMMASK')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/IDEMKISS.jpg" alt="Kader idem"(click)="openDialogProduct('IDEMKISS')"/></mat-grid-tile> -->
     <!-- <mat-grid-tile><img src="assets/about/DAMPKAP.jpg" alt="Dampkap appartement" (click)="openDialogProduct('DAMPKAP')"/></mat-grid-tile> -->
    <!-- <mat-grid-tile><img src="assets/about/VINYL-PAPA.jpg" alt="Vinyl deksel "(click)="openDialogProduct('VINYL-PAPA')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/SAMMEUBEL.jpg" alt="Opberg meubel"(click)="openDialogProduct('SAMMEUBEL')"/></mat-grid-tile> -->
    <!-- <mat-grid-tile><img src="assets/about/KASTKAMERSAM.jpg" alt="Dressing kast"(click)="openDialogProduct('KASTKAMERSAM')"/></mat-grid-tile>
    <mat-grid-tile><img src="assets/about/KASTCEDRIC.jpg" alt="moto kast"(click)="openDialogProduct('KASTC')"/></mat-grid-tile> -->
  </mat-grid-list>
</div>



